@import '../../../styles';

.mat-sidenav-container{
    .mat-sidenav {
        width: 200px;
        background: mat-color($mat-gray,500);
    }
    .filler {
        visibility: hidden;
        flex-grow: 1;
      }
}
